<% items = [
  ["Houses", houses_path, "icons/house.svg"],
  ["Favourites", favourites_path, "icons/heart.svg"],
  ["Add house", add_house_path, "icons/plus-circle.svg"],
  ["Delete house", delete_house_path, "icons/minus-circle.svg"]
] %>

<!-- Navbar with a button to toggle mobile menu -->
<div class="flex flex-col w-full" data-controller="mobile-menu">
  <div class="h-12 flex items-center justify-between p-2 bg-blue-500">
    <span class="flex items-center text-white">
    <%= inline_svg_tag "icons/logo.svg", class: 'h-6 text-yellow-500 fill-blue-900 mr-2' %>
    <span class="font-bold text-xl text-blue-800">Rent</span><span class="font-bold text-xl text-yellow-500">Stay</span>
    </span>
  <button data-action="click->mobile-menu#toggleMenu" class="">
    <%= inline_svg_tag "icons/x-mark.svg", { class: "h-4 text-white hidden", data: { mobile_menu_target: "menuIcon" } } %>
    <%= inline_svg_tag "icons/bars-3.svg", { class: "h-4 text-white", data: { mobile_menu_target: "menuIcon" } } %>
  </button>
  </div>

  <div id="mobile-menu" class="absolute top-12 left-0 w-full h-full bg-gray-800 z-50 transition-transform ease-in-out duration-400 transform -translate-x-full"  data-mobile-menu-target="menu">
    <!-- Mobile menu items -->
    <ul class="block h-full bg-gray-800">
      <% items.each do |text, path, icon| %>
        <li class="px-4 py-2 flex items-center">
        <span class="mr-2 hover:text-gray-300">
          <%= inline_svg_tag icon, class: 'h-4 text-white' %>
          </span>
          <%= link_to text, path, class: "block text-white" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
